/* git add . && git commit -m "first commit" && git push

colour pallete 
#D2BFD5
#A57DAA
#F7B9FF
#794980
#794980
#5B575C
#2E0C33
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #a57daa;
  background-color: #2e0c33; /* #2E0C33 - Dark purple */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  font-weight: 500;
  color: #794980; /* #794980 - Purple */
  text-decoration: inherit;
}
a:hover {
  color: #a57daa; /* #A57DAA - Light purple */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #2e0c33;
  color: #a57daa; 

}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand {
  margin-left: 3rem;
}

.nav-item-right {
  font-size: 1.2rem;
  margin-right: 3.5rem;
  margin-left: 3rem;
}

footer {
  color: #a57daa; 
  font-size: 1.2rem;
}

.textPersonal {
  color: #a57daa; 
  font-size: 1.2rem;
  margin-right: 3.5rem;
  margin-left: 3rem;
}

.textPersonalBold {
  font-weight: bold;
  color: black;
  font-size: 1.4rem;
  margin-right: 3.5rem;
  margin-left: 3rem;
}

.textPersonalMainHeader {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.863);
  font-size: 2rem;
  margin-right: 3.5rem;
  margin-left: 3rem;
}

.textPersonalHeader {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.562);
  font-size: 1.3rem;
  margin-left: 3rem;
}

.textPersonal2 {
  color: #a57daa; 
  font-size: 0.9rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.padder {
 margin: 3rem;
 padding: 3rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #794980; /* #794980 - Purple */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #a57daa; /* #A57DAA - Light purple */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (max-width: 550px) {
  .navContainer,{
    display: block; /* Change to block for smaller screens */
  }
  .blockMedia {
    display: block;
  }
  .padder {
    margin: 1rem;
    padding: 1rem;
  }

}

@media (max-width: 1200px) {

  .icons {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
  .central {
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
  }
  }

