/* src/CSS/index.css */

/*git add . && git commit -m "first commit" && git push

colour pallete 
#D2BFD5
#A57DAA
#F7B9FF
#794980
#794980
#5B575C
#2E0C33
*/

/* root */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #a57daa;
  background-color: #2e0c33;
  /* #2E0C33 - Dark purple */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* global */

a {
  font-weight: 500;
  color: #794980;
  /* #794980 - Purple */
  text-decoration: inherit;
}

a:hover {
  color: #a57daa;
  /* #A57DAA - Light purple */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #2e0c33;
  color: #a57daa;

}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  color: #a57daa;
  font-size: 1.2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #794980;
  /* #794980 - Purple */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #a57daa;
  /* #A57DAA - Light purple */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* navbar */

.navbar-brand {
  margin-left: 3rem;
}

.nav-item-right {
  font-size: 1.2rem;
  margin-right: 3.5rem;
  margin-left: 3rem;
}


.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 0.2rem 1rem;
  transition: 0.4s;
}

/* change classes */

.change.bar:nth-child(1) {
  transform: rotate(-90deg);
}

.change.bar:nth-child(2) {}

.change.bar:nth-child(3) {
  transform: rotate(90deg);
}

/* text classes */

.textPersonal {
  color: #a57daa;
  font-size: 1.2rem;
  margin-right: 3.5rem;
  margin-left: 3rem;
}

.textPersonalBold {
  font-weight: bold;
  color: black;
  font-size: 1.4rem;
  margin-right: 3.5rem;
  margin-left: 3rem;
}

.textPersonalMainHeader {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.863);
  font-size: 2rem;
  margin-right: 3.5rem;
  margin-left: 3rem;
}

.textPersonalHeader {

  color: black;
  font-size: 1.3rem;
  margin-left: 3rem;
}

.textPersonal2 {
  color: #a57daa;
  font-size: 0.9rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* padding classes */

.padder {
  margin: 3rem;
  padding: 3rem;
}

.padderAlt {
  margin: 3rem;
}

.smallPadder {
  padding: 0.5rem;
}

/* Media queries */

@media (max-width: 550px) {

  .navContainer,
  {
  display: block;
}

.blockMedia {
  display: block;
}

.padder {
  margin: 1rem;
  padding: 1rem;
}

}

@media (min-width: 768px) and (max-width: 991px) {
  .central {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
  }
}

@media screen and (max-width: 800px) {
  footer {
    display: none;
  }

  .footerFixer {
    display: none;
  }
}

@media (max-width: 1200px) {

  .icons {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

  .central {
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
  }
}

@media (max-width: 800px) {
  .navContainer {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .blockMedia {
    display: block;
  }
}